APP_NAME=Real Time Risk API
DEBUG=false
API_V1_PREFIX=/v1
CORS_ORIGINS=["http://localhost:3000","https://your-project.vercel.app","https://<your-hf-username>-tepporisk-api.hf.space"]
MODEL_CKPT_PATH=/path/to/backend/model_assets/best_model.pth
SCALER_DYN_PATH=/path/to/backend/model_assets/scaler_dyn.gz
SCALER_STAT_PATH=/path/to/backend/model_assets/scaler_stat.gz
STATION_METADATA_PATH=/path/to/backend/station_metadata_v2.xlsx
